$yellow: #ffe600;
$grey3: #333333;
$grey6: #666666;
$grey9: #999999;
$greye: #eeeeee;
$white: #ffffffff;
$blue: #3483fa;

* {
	min-width: 0;
	font: inherit;
	font-size: 10px;
	font-family: 'Proxima Nova', -apple-system, Roboto, Arial, sans-serif;

	&,
	&::before,
	&::after {
		box-sizing: border-box;
	}
}

body {
	margin: 0;
	min-height: 100dvh;

	img {
		display: block;
		height: auto;
		max-width: 100%;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
	}

	p {
		text-wrap: pretty;
	}
}
